
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn About Me</title>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Learn About Me</a>
        </div>
        <!--
            如果用户已经登陆了则对导航条进行相应的改变。
            一开始你的代码中并不存在currentUser，所以总会显示一个状态
         -->
        <ul class="nav navbar-nav navbar-right">
            <% if (currentUser) { %>
            <li>
                <a href="/edit">
                    Hello, <%= currentUser.name() %>
                </a>
            </li>
            <li><a href="/users/logout">Log out</a></li>
            <% } else { %>
            <li><a href="/users/login">Log in</a></li>
            <li><a href="/users/signup">Sign up</a></li>
            <% } %>
        </ul>
    </div>
</div>
<div class="container">
    <% errors.forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% }) %>
    <% infos.forEach(function(info) { %>
    <div class="alert alert-info" role="alert">
        <%= info %>
    </div>
    <% }) %>




    <div class="jumbotron">
        <div class="container">
            <div class="row">


                <form action="/users/edit" method="post"  class="form-horizontal col-md-8 col-md-offset-2" role="form">
                    <h1>Edit your profile</h1>

                    <div class="form-group">
                        <label for="photoImage" class="col-sm-2 control-label">username</label>
                        <div class="col-sm-6">
                            <input name="displayname" type="text" class="form-control" placeholder="Display name" value="<%= currentUser.displayName || "" %>">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="photoImage" class="col-sm-2 control-label">password</label>
                        <div class="col-sm-6">
                            <textarea name="bio" class="form-control" placeholder="Tell us about yourself!"> <%= currentUser.bio || "" %></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Update</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>


    </div>










</div>
</body>
</html>